--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
torchvision==0.15.0
omegaconf
torchmetrics==0.10.3
fvcore
iopath
xformers==0.0.18
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
# rasterio==1.3.11
tifffile==2024.8.30
python-dotenv==1.0.1
geobench
wandb
timm==1.0.11
ujson
scikit-multilearn
scikit-learn
fire
pyarrow